.container {
    padding: 40px;
  }
  
  .card {
    background-color: #9787ad;
  }
  
  .card-title {
    color: #140505;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    color: #320707;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  